body{

    padding: 25px;;
    background-image: linear-gradient(120deg,#140614,#403a30);
    
    font-size: 15px;
}



#card{
    text-align: center;
    
    background: transparent;
    
}

.cabeca img{
   height: 500px;
    
}



#card img {
    margin-left: 150px;
    width: 200px;
    
}
.rodape {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.rodape a:focus{
    font-size: 1px;
}

.rodape h6{
    color: white;
}



.titulo {
    text-align: center;
    color: white;

}




.mapa p{
    display:inline-flex;
    float: left;    
    color: white;
    
}

header .menu{
    position:relative;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 1px;

}
header .menu a {
    color: white;
    padding: 8px 40px ;
    border-radius: 3px;
    transition: 200ms;
    
}
header .menu a:hover{
    color: #444;
    background-color: white;
}


.card-text{
    color:black;
}