body{

    padding: 25px;;
    background-color: white;
    color: black;
    font-size: 15px;
}

.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode {
    color: white;
    background-color: black;
}


header {
    text-align: center;
}

p{
    text-align: center;
}


h5 {
    color: white;
}